<div class="product">
    <h3 class="name"><%= product['name']%></h3>
    <p class="description"><%=product['description'] %></p>
    <p class="price"><%=product['prices']%> </p>
    <img src=<%=product['images'][0]['smallUrl'] %> alt="picture of <%=product['name'] %>" class="thumbnail">
</div>