<link rel="stylesheet" href="css/product-card.css">

<div class="product">
    <img src=<%=product['images'][0]['smallUrl'] %> alt="picture of <%=product['name'] %>" class="thumbnail">
    <br>
    <a class="name" href="./<%=product['code']%>"><%= product['name']%></a>
    <p class="description"><%=product['description'] %></p>
    <p class="price">latest price:<%=product['prices'].slice(-1)[0][0] %>$</p>
       
      
       
   
</div>